/* ==========================================================================
   THEME STYLE MODIFICATIONS
   ========================================================================== */

/**
 * Set all your THEME styles in this file.
 *
 * Adding a Theme to a design is very straightforward as every component works
 * like an extensible class. This allows you to add theme specific classes
 * and/or override existing classes.
 *
 * NOTE: Any new classes created should follow the established coding
 * standards for the framework. Theme specific classes should be prefixed by
 * `.t-`.
 *
 * Why do it this way?
 * By decoupling the theme styling from the default framework, you get the
 * following benefits:
 *		Keep the framework core library up-to-date
 *		Updates to the core styles of the framework do not get overwritten when
 *		extending the component.
 *
 *		End-user entry points remain untouched
 *		End-users do not need to use any custom name that belongs only to the
 *		theme.
 */

html,
.u-font-primary {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.u-font-secondary {
	font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Joyous fonts */
@font-face {
	font-family: 'Joyous Icons';
	font-display: block;
	font-style: normal;
	font-weight: normal;
	src: url('themes/shadows/ui/css/joyous.woff') format('woff');
}

button,
input,
html,
select,
textarea {
	letter-spacing: 0.05em;
}


.c-keyline {
	border-color: #eaeaea;
}


.o-site-wrapper {
	max-width: 100vw;
}


.c-form-input:focus {
	border-color: #c0c0c0;
	box-shadow: none;
}


.c-form-input--large {
	height: calc(3.875em - (1px * 2));
	line-height: calc(3.875em - (1px * 2));
}


.c-form-checkbox__input:checked + .c-form-checkbox__caption::after {
	top: 50%;
	background: #0f0f0f none;
	border: 1px solid currentColor;
	box-shadow: inset 0 0 0 2px #fff;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Utility Classes override */

.u-border-none {
	border-width: 0 !important;
}
.u-border-one {
	border-width: 1px !important;
}
.u-border-right-none {
	border-right-width: 0;
}

[class^="u-icon-"], [class*=" u-icon-"], [data-icon]::before {
	font-family: "ReadyTheme Icons", sans-serif;
}

.x-messages {
	margin-bottom: 1rem;
	padding: 0.75em 1.25em;
	font-size: 0.875rem;
	border: 0 none;
}

.x-messages--info,
.x-messages--warning {
	background-color: #E4F5F6;
	color: #656D6E;
}

/* X Small Breakpoint [32em = 512px]
   =========================================== */
	@media screen and (min-width: 32em) {
		.u-hidden--xs {
			display: none;
		}
		.u-block--xs,
		.u-shown--xs {
			display: block;
		}
		
		.u-inline--xs {
			display: inline;
		}
	}

/* XX Small Breakpoint [24em = 384px]
   =========================================== */
   @media screen and (min-width: 24em) {
	.u-hidden--xxs {
		display: none;
	}
	.u-block--xxs,
	.u-shown--xxs {
		display: block;
	}
	
	.u-inline--xxs {
		display: inline;
	}
}

.u-ls-norm {
	letter-spacing: normal;
}

/**
 * Shadows Color Overrides
 */
.u-bg-red::before,
.u-bg-red {
	background-color: #db7b65;
}

.u-bg-yellow::before,
.u-bg-yellow {
	background-color: #deded4;
}

.u-bg-blue::before,
.u-bg-blue {
	background-color: #003b6f;
}

.u-bg-green::before,
.u-bg-green {
	background-color: #13c4a3;
}

.u-bg-black::before,
.u-bg-black {
	background-color: #000;
}

.u-border-red {
	border-color: #f02;
}

.u-border-yellow {
	border-color: #deded4;
}

.u-border-blue {
	border-color: #003b6f;
}

.u-border-green {
	border-color: #13c4a3;
}

.u-border-black {
	border-color: #000;
}

.u-border-rounded {
	border-radius: 0.1875rem;
}

.u-border-square {
	border-radius: none !important;
}

.u-color-red {
	color: #f02;
}

.u-color-yellow {
	color: #deded4;
}

.u-color-blue {
	color: #003b6f;
}

.u-color-green {
	color: #13c4a3;
}

.u-color-black {
	color: #000;
}

/* Margin and Padding overrides */

.u-m-none {
	margin: 0 !important;
}

.u-mx-none {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.u-my-none {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.u-mt-none {
	margin-top: 0 !important;
}

.u-mb-none {
	margin-bottom: 0 !important;
}

.u-ml-none {
	margin-left: 0 !important;
}

.u-mr-none {
	margin-right: 0 !important;
}

/* 1.25 - 10px */
.u-m-10 {
	margin: 0.625rem;
}

.u-mx-10 {
	margin-left: 0.625rem;
	margin-right: 0.625rem;
}

.u-my-10 {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

.u-mt-10 {
	margin-top: 0.625rem;
}

.u-mb-10 {
	margin-bottom: 0.625rem;
}

.u-ml-10 {
	margin-left: 0.625rem;
}

.u-mr-10 {
	margin-right: 0.625rem;
}

/* 1.25 - 20px */
.u-m-20 {
	margin: 1.25rem;
}

.u-mx-20 {
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}

.u-my-20 {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

.u-mt-20 {
	margin-top: 1.25rem;
}

.u-mb-20 {
	margin-bottom: 1.25rem;
}

.u-ml-20 {
	margin-left: 1.25rem;
}

.u-mr-20 {
	margin-right: 1.25rem;
}

/* 1.875 - 30px */
.u-m-30 {
	margin: 1.875rem;
}

.u-mx-30 {
	margin-left: 1.875rem;
	margin-right: 1.875rem;
}

.u-my-30 {
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
}

.u-mt-30 {
	margin-top: 1.875rem;
}

.u-mb-30 {
	margin-bottom: 1.875rem;
}

.u-ml-30 {
	margin-left: 1.875rem;
}

.u-mr-30 {
	margin-right: 1.875rem;
}

/* 2.5 - 40px */
.u-m-40 {
	margin: 2.5rem;
}

.u-mx-40 {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.u-my-40 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.u-mt-40 {
	margin-top: 2.5rem;
}

.u-mb-40 {
	margin-bottom: 2.5rem;
}

.u-ml-40 {
	margin-left: 2.5rem;
}

.u-mr-40 {
	margin-right: 2.5rem;
}

/* 3.125 - 50px */
.u-m-50 {
	margin: 3.125rem;
}

.u-mx-50 {
	margin-left: 3.125rem;
	margin-right: 3.125rem;
}

.u-my-50 {
	margin-top: 3.125rem;
	margin-bottom: 3.125rem;
}

.u-mt-50 {
	margin-top: 3.125rem;
}

.u-mb-50 {
	margin-bottom: 3.125rem;
}

.u-ml-50 {
	margin-left: 3.125rem;
}

.u-mr-50 {
	margin-right: 3.125rem;
}


.u-p-none {
	padding:0 !important;
}

.u-px-none {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.u-py-none {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.u-pt-none {
	padding-top: 0 !important;
}

.u-pb-none {
	padding-bottom: 0 !important;
}

.u-pl-none {
	padding-left: 0 !important;
}

.u-pr-none {
	padding-right: 0 !important;
}

/* 0.625 - 10px */
.u-p-10 {
	padding: 0.625rem;
}

.u-px-10 {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
}

.u-py-10 {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
}

.u-pt-10 {
	padding-top: 0.625rem;
}

.u-pb-10 {
	padding-bottom: 0.625rem;
}

.u-pl-10 {
	padding-left: 0.625rem;
}

.u-pr-10 {
	padding-right: 0.625rem;
}

/* 1.25 - 20px */

.u-p-20 {
	padding:1.25rem;
}

.u-px-20 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.u-py-20 {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.u-pt-20 {
	padding-top: 1.25rem;
}

.u-pb-20 {
	padding-bottom: 1.25rem;
}

.u-pl-20 {
	padding-left: 1.25rem;
}

.u-pr-20 {
	padding-right: 1.25rem;
}

/* 1.875 - 30px */

.u-p-30 {
	padding: 1.875rem;
}

.u-px-30 {
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}

.u-py-30 {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
}

.u-pt-30 {
	padding-top: 1.875rem;
}

.u-pb-30 {
	padding-bottom: 1.875rem;
}

.u-pl-30 {
	padding-left: 1.875rem;
}

.u-pr-30 {
	padding-right: 1.875rem;
}

/* 2.5 - 40px */

.u-p-40 {
	padding: 2.5rem;
}

.u-px-40 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.u-py-40 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.u-pt-40 {
	padding-top: 2.5rem;
}

.u-pb-40 {
	padding-bottom: 2.5rem;
}

.u-pl-40 {
	padding-left: 2.5rem;
}

.u-pr-40 {
	padding-right: 2.5rem;
}

/* 3.125 - 50px */

.u-p-50 {
	padding: 3.125rem;
}

.u-px-50 {
	padding-left: 3.125rem;
	padding-right: 3.125rem;
}

.u-py-50 {
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
}

.u-pt-50 {
	padding-top: 3.125rem;
}

.u-pb-50 {
	padding-bottom: 3.125rem;
}

.u-pl-50 {
	padding-left: 3.125rem;
}

.u-pr-50 {
	padding-right: 3.125rem;
}

/**
 * Joyous Colors
 */
 .u-bg-green_prim::before,
 .u-bg-green_prim {
	 background-color: #255f63;
 }

 .u-color-green_prim {
	color: #255f63;
 }
 
 .u-border-green_prim {
	border-color: #255f63;
}

 .u-bg-green_sec::before,
 .u-bg-green_sec {
	background-color: #3e5047;
 }
 
 .u-color-green_sec {
	color: #3e5047;
 }
 
 .u-border-green_sec {
	border-color: #3e5047;
}

.u-bg-prim::before,
.u-bg-prim {
	background-color: #273540;
}

.u-color-prim {
   color: #273540;
}

.u-border-prim {
   border-color: #273540;
}

 .u-bg-yellow_prim::before,
 .u-bg-yellow_prim {
	 background-color: #ecb865;
 }

 .u-color-yellow_prim {
	color: #ecb865;
 }
 
 .u-border-yellow_prim {
	border-color: #ecb865;
}

.u-bg-black-01::before,
.u-bg-black-01 {
	background-color: #273540;
}

.u-color-black-01 {
   color: #273540;
}

.u-border-black-01 {
   border-color: #273540;
}

.u-bg-gray-01::before,
.u-bg-gray-01 {
	background-color: #555e5f;
}

.u-color-gray-01 {
   color: #555e5f;
}

.u-border-gray-01 {
   border-color: #555e5f;
}

.u-bg-gray-02::before,
.u-bg-gray-02 {
	background-color: #606464;
}

.u-color-gray-02 {
   color: #606464;
}

.u-border-gray-02 {
   border-color: #606464;
}

.u-bg-mauve::before,
.u-bg-mauve {
	background-color: #F4EEEC;
}

.u-color-mauve {
   color: #F4EEEC;
}

.u-border-mauve {
   border-color: #F4EEEC;
}

.u-bg-main::before,
.u-bg-main {
	background-color: #1E2121;
}

.u-color-main {
   color: #1E2121;
}

.u-border-main {
   border-color: #1E2121;
}

/* Position classes */

.u-pos-absolute {
	position: absolute;
}

.u-pos-relative {
	position: relative;
}

.u-pos-fixed {
	position: fixed;
}

.u-pos-static {
	position: static;
}

.u-pos-sticky {
	position: sticky;
}

/* Full width background Utility Classes */

.o-layout-full {
	position: relative;
} 

.u-bg-mauve.o-layout-full:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: -9999px;
	right: 0;
	border-left: 9999px solid #F4EEEC;
	box-shadow: 9999px 0 0 #F4EEEC;
}

.o-layout__constraint {
	max-width: 54.5625rem;
    margin: 0 auto;
}

/* Letter spacing conversions */

.u-font-small {
	font-size: 0.875rem;
}

@media screen and (min-width: 60em) {
	.u-font-small {
		font-size: 1rem;
	}
}

@media screen and (min-width: 40em) {
	.u-font-tiny {
		font-size: 0.75em;
	}

}

/* Letter spacing conversions */

.u-ls-10 {
	letter-spacing: 0.01em;
}

.u-ls-20 {
	letter-spacing: 0.02em;
}

.u-ls-30 {
	letter-spacing: 0.03em;
}

.u-ls-40 {
	letter-spacing: 0.04em;
}

.u-ls-50 {
	letter-spacing: 0.05em;
}

/* Site Header
   =========================================== */
.t-site-header {
	border-bottom: 1px solid #eaeaea;
}

	.t-site-header__top-navigation {
		font-size: 0.8125rem;
	}
	
		.t-site-header__message {
			display: inline-block;
			padding: 1em 0 1em 1em;
		}
		
		.t-site-header__links {}

			.t-site-header__links [class^="u-icon-"] {
				margin-right: 0.25em;
				font-size: 1.25rem;
				vertical-align: text-bottom;
			}
	
			.t-site-header__links a:hover {
				text-decoration: none;
				opacity: 0.75;
				transition: 0.3s;
			}

			.t-site-header__links .o-layout__item {
				padding: 1em 1rem;
			}

				@media (min-width: 48em) {
					.t-site-header__links .o-layout__item:not(:first-of-type) {
						border-left: 1px solid #5a5a5a;
					}
				}

				.t-site-header__links .x-transfigure-navigation__footer {
					display: flex;
					justify-content: flex-end;
				}

					.t-site-header__links .x-transfigure-navigation__footer-link {
						margin: 0 1rem;
						padding: 0;
						font-size: inherit;
						font-weight: 400;
						letter-spacing: inherit;
						color: #eaeaea;
					}


		.t-site-header__basket-link--mobile {
			display: flex;
			font-size: 2rem;
		}
		
			.t-site-header__basket-link-quantity--mobile {
				display: inline-block;
				min-width: 2em;
				height: 2em;
				padding: 0 0.25em;
				font-size: 0.75rem;
				line-height: 2;
				text-align: center;
				border-radius: 50%;
				touch-action: none;
				-webkit-transform: translate(-0.75em, -1em);
				-ms-transform: translate(-0.75em, -1em);
				transform: translate(-0.75em, -1em);
				z-index: -1;
			}

		.t-site-header__basket-link-quantity {
			margin-left: 0.25em;
			padding: 0.625em 1.125em;
		}
		
		
		.t-global-account {
			width: 100vw;
			max-width: 22.5rem;
			padding: 1rem;
			position: absolute;
			top: 100%;
			right: 0;
			background-color: #fafafa;
			border: 1px solid #eaeaea;
			border-radius: 0 0 3px 3px;
			box-shadow: 0 2px 1px -2px #707070;
			opacity: 0;
			transition: all ease-in-out 0.15s;
			-webkit-transform: scaleY(0);
			-ms-transform: scaleY(0);
			transform: scaleY(0);
			transform-origin: top;
		}
		
		.t-global-account.is-open {
			opacity: 1;
			-webkit-transform: scaleY(1);
			-ms-transform: scaleY(1);
			transform: scaleY(1);
		}
		
			.t-global-account__form {
				margin-bottom: 0;
			}
			
				.t-global-account__form .c-form-list__item:last-of-type {
					margin-bottom: 0;
					padding-top: 0.5em;
				}

		
	.t-site-header__masthead {
		max-width: 93.75rem;
		padding-top: 1em;
		padding-bottom: 1em;
		position: relative;
		font-size: 0.875rem;
	}

		.x-fasten-header {
			max-width: none;
			padding: 0.5rem 1rem;
			position: fixed;
			background-color: #fff;
			box-shadow: 0 2px 4px rgba(128, 128, 128, 0.15);
			color: #222;
		}

		/* Fasten Header fix */

		@media screen and (min-width: 60em) {
			.x-fasten-header {
				width: 101vw;
			}
		}

		.t-site-header__logo {
			margin-bottom: 0;
		}

		.t-site-header__store-name {}

		.t-site-header__store-tagline {}

		.t-site-header__search-form {
			margin-bottom: 0;
			position: relative;
			border: 1px solid #eaeaea;
		}
		
			.t-site-header__search-form .c-form-list__item {
				margin-bottom: 0;
				margin-left: auto;
			}

				.t-site-header__search-form .c-form-input {
					padding-right: calc(2em - 1px);
					padding-left: calc(2em - 1px);
				}
			
				.t-site-header__search-form .c-button {
				}


		.t-site-header__masthead-links {
			align-items: center;
			justify-content: flex-end;
		}

			.t-site-header__masthead-links [class^="u-icon-"] {
				margin-right: 0.25em;
				font-size: 1.25rem;
				vertical-align: text-bottom;
			}

			.t-site-header__masthead-links a:hover {
				text-decoration: none;
				opacity: 0.75;
				transition: 0.3s;
			}

			.t-site-header__masthead-links a:first-of-type {
				margin-right: 1em;
				padding-top: 0.5em;
				padding-right: calc(1em + 1px);
				padding-bottom: 0.5em;
				border-right: 1px solid #bfb8b8;
			}

				
	.t-site-navigation {
		margin-bottom: 1rem;
	}
	
		.t-site-navigation__wrap {
			max-width: 93.75rem;
			width: 100%;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			font-size: 0.875rem;
		}
		
		.c-navigation__list:not(:last-child),
		.c-navigation__list:not(:nth-child(3)) { 
			padding-right: 4rem;
		}
		.c-navigation__link {
			padding: 9px 17px;
			line-height: 1;
			transition: background-color ease-in 0.1s;
		}

	@media (min-width: 60em) {
		.t-site-navigation {
			border-bottom: 1px solid #eaeaea;
		}
		
		.c-navigation__list {
			position: relative;
			flex: 0 1 auto;
			text-align: center;
		}

		/* .x-transfigure-navigation:hover .c-navigation__list .c-navigation__link {
			color: #adadad;
			transition: color ease-in 0.1s;
		}

		.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__list .c-navigation__link {
			color: #adadad;
		}

		.x-transfigure-navigation .c-navigation__list:hover .c-navigation__link {
			color: #0f0f0f;
			transition: color ease-out 0.1s;
		} */
	}

	.x-transfigure-navigation__content {
		padding-top: 1.87em;
		padding-bottom: 1.87em;
	}

		.x-transfigure-navigation .c-navigation__link {
			font-weight: 600;
			font-size: 1.0625rem;
			color: #261814;
			justify-content: left;
			letter-spacing: 0.06em;
		}

		.x-transfigure-navigation .c-navigation__link.active {
			background-color:#ECB865;
			color: #261814;
			border-radius: 3px;
		}

		.x-transfigure-navigation .c-navigation__link:hover {
			box-shadow: none;
			background-color:#F7E2BF;
			border-radius: 3px;
		}

		.x-transfigure-navigation .c-navigation__row:nth-child(2) .c-navigation__link:hover {
			background-color: #fff;
			color: #0f0f0f;
			transition: color ease-out 0.1s;
		}
	
	
	
	
	.x-search-preview {
		right: 0;
	}
	
	
	
	
	
	.t-breadcrumbs {
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
	
		.x-collapsing-breadcrumbs__group,
		.x-collapsing-breadcrumbs__list {
			max-width: 93.75rem;
			margin-right: auto;
			margin-bottom: 0;
			margin-left: auto;
			padding-top: 1em;
			padding-right: 1rem;
			font-size: 0.6875rem;
			line-height: inherit;
			border-bottom: 0 none;
		}

		.x-collapsing-breadcrumbs__list {
			padding-bottom: 2em;
			border-bottom: 1px solid #A6A09F !important;
			line-height: 1 !important;
		}

		
		
		

/* Main Element
	 =========================================== */
.t-main-content-element {
	max-width: 93.75rem;
}

		
		

/* Site Footer
	=========================================== */
.t-site-footer {
	background-image: url('graphics/00000001/footer_bg.png');
	background-repeat: repeat no-repeat;
	background-position: center top;
	background-size: auto;
	padding: 7px 0 0 0;
}
	.t-site-footer__inner {
		background-color: #ecb865;
		position: relative;
		top: 23px;
	}

	.t-site-footer:before {
		content: '';
	}

	.t-site-footer .o-wrapper {
		max-width: 93.75rem;
	}

	.t-site-footer__content,
	.t-site-footer__disclaimer {
		padding-top: 2em;
		padding-bottom: 2em;
	}
	
		.t-site-footer .c-menu__title,
		.t-site-footer .c-collapsible-menu__label {
			font-weight: 600;
			color: #255f63;
			letter-spacing: normal;
		}

		.t-site-footer__content .c-menu__link:not([class*=" u-icon-"]) {
			font-size: 0.875rem;
			font-weight: 500;
			color: #090909;
		}
	
		.t-site-footer__content .c-menu__link:hover {
			text-decoration: none;
			opacity: 0.75;
		}

		.t-site-footer__mblwrap {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		.t-site-footer__mblwrap .o-layout__item {
			flex-basis: 100%;
		}

		/* 	Tablet Large
			[48em = 768px]
		*/
		@media screen and (min-width: 48em) {

			.t-site-footer__mblwrap {
				flex-wrap: nowrap;
			}

			.t-site-footer__mblwrap .o-layout__item {
				flex-basis: unset;
				flex-grow: 1;
			}
			.t-site-footer__mblwrap .o-layout__item.c-sign-up__wrap{
				flex-grow: 2;
			}

			.t-newsletter-form .c-form-list__item {
				max-width: 80%;
			}
		}

		/* 	Large
			[60em = 960px]
		*/
		@media screen and (min-width: 60em) {

		}
		@media (max-width: 47.9em) {
			
			.c-collapsible-menu__label{
				padding: 0.45rem 0 ;
			}

			.c-collapsible-menu__label::after {
				font-size: 1.5rem;
				font-weight: 500;
			}
		}

	.t-site-footer__disclaimer {
		font-size: 0.75rem;
		background-color: #FFFFFF;
		color: #303030;
	}
	.t-site-footer__disclaimer .o-layout__item {
		margin-bottom: 0;
	}
	.t-site-footer__payment {
		background-color: #FFFFFF;
		padding-bottom: 1rem;
	}
	.t-site-footer__payment .o-layout {
		margin:0 auto;
	}
	.t-site-footer__payment .o-layout .o-layout__item{
		padding-left: 0;
	}

	.t-global-footer-social-links .c-menu__link {
		padding: 0 1rem 1rem 0;
		color: #090909;
	}

	.t-global-footer-social-links .c-menu__link:hover {
		text-decoration: none;
		opacity: 0.75;
	}
	
	.t-newsletter-form__input {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		height: auto;
	}
	input.t-newsletter-form__input::placeholder {
		font-size: 0.875rem;
		color: #C2C2C2;
	}
	input.t-newsletter-form__input::-webkit-input-placeholder {
		font-size: 0.875rem;
		color: #C2C2C2;
	}
	input.t-newsletter-form__input::-moz-placeholder {
		font-size: 0.875rem;
		color: #C2C2C2;
	}

	.t-newsletter-form-mbl button:before {
		font-family: "Joyous Icons", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
		content: "\e900";
		color: #ecb865;
		font-size: 28px;
		display: flex;
	}

	@media screen and (min-width: 48em) {

		.t-newsletter-form button:before{
			content: '';
		}
		.t-newsletter-form button {
			background-color: #273540;
			color:#FFFFFF;
			font-weight: 600;
			width: 10rem;
		}
		.t-newsletter-form button:hover {
			background-color: #465F73 !important;
			color: #FFFFFF;
		}
		.t-newsletter-form .t-newsletter-form__input {
			border: 1px solid #BA9150 !important;
		}
	}

	@media screen and ( max-width: 40em ) {

		.t-newsletter-form-mbl .c-button:hover {
			background-color: #FFFFFF;
		}
	}

	@media (max-width: 47.9em) {
		.t-newsletter-form fieldset {
			display: block;
			max-height: 0;
			opacity: 0;
			visibility: hidden;
			transition-delay: 0.15s, 0s, 0s;
		}

		.t-newsletter-form .c-collapsible-menu__trigger:checked ~ fieldset {
			display: block;
			max-height: 10em;
			margin-top: 1em;
			opacity: 1;
			overflow: hidden;
			transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
			transition-delay: 0s;
			visibility: visible;
		}
	}

	.c-newsletter_mbl {
		width: 100%;
		text-align:center;
	}
	.c-newsletter_mbl form label{
		display: block;
		margin-bottom: 1.5625rem;
	}

@media (min-width: 48em) {
	
		.t-site-footer__content {
			padding-bottom: 4em;
		}
}

.t-site-footer {
	padding-top: 7px;
	margin-top: 12rem;
}

@media (min-width: 48em) {

	.c-customer-resources ul li,
	.c-quick-links ul li {
		line-height: 1.7;
		letter-spacing: normal;
	}

	.c-customer-resources ul li:before,
	.c-quick-links ul li:before {
		content: "·";
	}
}

/* Storefront
	=========================================== */
.t-storefront-about {}

	.t-storefront-about .c-heading-charlie {
		font-size: 1.875rem;
		letter-spacing: 3px;
	}

	.t-storefront-about .c-heading--subheading {
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: 2px;
	}

	.t-storefront-about__brief {
		font-size: 0.9375rem;
		line-height: 1.667;
	}




.t-featured-products {
	margin-bottom: 2rem;
	padding-top: 3rem;
}

	.t-featured-products .x-product-list__heading {
		margin-bottom: 3em;
		font-size: 1.5rem;
	}

	.t-featured-products .x-product-list__action {
		max-width: 18em;
		margin: auto;
	}

		.t-featured-products .x-product-list__action .c-button {
			padding-right: calc(1rem * 4.5 - 1px);
			padding-left: calc(1rem * 4.5 - 1px);
		}





/* Category Tree
	=========================================== */
.x-category-tree__label {
	margin-bottom: 1em;
	padding: 1em 0;
	font-size: 0.75rem;
	font-weight: 700;
	background-color: #fff;
	border-bottom: 1px solid #eaeaea;
	color: #222;
}

.x-category-tree__heading {
	font-size: 15px;
}

@media (min-width: 60em) {
	.x-category-tree__heading {
		padding-top: 0.25rem;
	}
}

.x-category-tree__label::after,
.x-category-tree__label::before {
	font-family: 'ReadyTheme Icons', sans-serif;
	font-size: 0.625em;
	font-weight: 400;
}

.x-category-tree__label::after {
	content: "\30";
}

.x-category-tree__label::before {
	content: "\31";
	transform: scale(1);
}

.x-category-tree__trigger:checked ~ .x-category-tree__label::after {
	transform: scale(1);
}

.x-category-tree__link {
	padding: 0 0 1rem;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	color: #0f0f0f;
	transition: color ease-in-out 0.2s;
}

.x-category-tree__list--level-2 .x-category-tree__link {
	padding-left: 1.75em;
	font-size: 13px;
	color: #9f9f9f;
}

.x-category-tree__list--level-3 .x-category-tree__link {
	padding-left: 2.75em;
	font-size: 12px;
	color: #9f9f9f;
}

.x-category-tree__link--current,
.x-category-tree__list--level-2 .x-category-tree__link--current,
.x-category-tree__list--level-3 .x-category-tree__link--current {
	font-weight: 700;
	color: #0f0f0f;
}

.x-category-tree__link:not(.x-category-tree__link--current):hover {
	text-decoration: underline;
	background-color: inherit;
}


.t-faceting .c-form-checkbox {
	font-size: 14px;
}





/* Category Page
	=========================================== */
.t-display-list-filtering {
	flex-wrap: nowrap;
}

	.t-display-list-filtering .x-display-list-filtering__per-page,
	.t-display-list-filtering .x-display-list-filtering__sort-by,
	.t-display-list-filtering .c-form-list__item,
	.t-display-list-filtering .c-form-label,
	.t-display-list-filtering .c-form-select {
		margin-bottom: 0;
	}

		.t-display-list-filtering .c-form-label {
			font-size: 0.6875rem;
		}

		.t-display-list-filtering .c-form-select__dropdown {
			padding: 0;
			font-size: 0.75rem;
			background-color: #fff;
			border: 0 none;
			color: initial;
		}


.t-pagination {}

.t-pagination.x-pagination--centered {
	width: 13rem;
	justify-content: center;
}

	.t-pagination .o-list-inline {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

		.t-pagination .c-button {
			width: 2em;
			height: 2em;
			padding: 0;
			line-height: 2;
			border-color: #c0c0c0;
		}

		.t-pagination .c-form-select {
			margin-bottom: 0;
		}

			.t-pagination .c-form-select__dropdown {
				padding: 0;
				border: 0 none;
			}

			
.x-product-list__item {
	margin-bottom: 2rem;
}

.x-product-list__name,
.x-product-list__price {
	font-weight: 600;
}

.x-product-list__price {
	display: inline-block;
	padding-right: 0.5em;
	padding-left: 0.5em;
	color: #7f7f7f;
}




/* Product Page
	=========================================== */
	@media (min-width: 60em) {
		.x-product-layout {
			padding-top: 2rem;
		}

		.t-quantify.c-control-group.x-quantify .c-control-group__button {
			padding-top: calc(0.78em * 1 + 0.5px);
			padding-bottom: calc(0.78em * 1 + 0.5px);
		}
	}
	.x-product-layout-purchase__name {
		margin-bottom: 1.25rem;
	}
	
	.x-product-layout-purchase .is-required {
		font-weight: 500;
	}
	
	.x-product-layout-purchase__options {
		display: flex;
		width: auto;
		max-width: none;
	}
	
	.x-product-layout-purchase__options-attribute .c-form-label {
		font-size: 0.75rem;
	}
	
	.t-quantify .c-control-group__button {
		padding-top: calc(0.5em * 3 + 1px);
		padding-bottom: calc(0.5em * 3 + 1px);
	}
	
	.t-quantify .c-control-group__button,
	.t-quantify .c-control-group__field {
		max-width: calc(100% / 3);
		flex-basis: calc(100% / 3);;
	}
	.c-control-group .c-control-group__button:first-child, 
	.c-control-group .c-control-group__field:first-child {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.c-control-group .c-control-group__button:last-child, 
	.c-control-group .c-control-group__field:last-child {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.t-quantify .c-control-group__button {
		padding-top: calc(1em * 1 + 0.5px);
		padding-bottom: calc(1em * 1 + 0.5px);
	}

.x-product-description {
	margin-bottom: 6rem;
	padding-top: 6rem;
}

	.x-product-description .x-flex-tabs__tab {
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}

	@media (max-width: 47.9em) {
		.x-product-description .x-flex-tabs__tab {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		
			.x-product-description .x-flex-tabs__tab::after {
				display: inline-block;
				font-size: 1rem;
				line-height: 1;
				content: '+';
			}
			
			.x-product-description input[data-flex-tab]:checked + .x-flex-tabs__tab::after {
				content: '-';
			}
	}
	
	
	.x-product-description .x-flex-tabs__content {
		font-size: 0.875rem;
	}





/* Basket Page
	=========================================== */
.t-basket__product-summary .c-table-responsive__row,
.t-basket__order-summary .c-table-simple__row {
	border-color: #eaeaea;
}

.t-basket__product-summary thead {
	border-top: 1px solid #eaeaea;
}

.t-basket__product-summary tbody .c-table-responsive__cell {
	padding-top: 1.5rem;
}


.t-basket__product-details {
	font-size: 0.875rem;
	font-weight: 600;
}


.t-basket-update .x-quantify {
	width: 10em;
	font-size: 0.875rem;
}

	.t-basket-update .x-quantify .c-control-group__button {
		padding-top: calc(0.625em * 2 + 1px);
		padding-bottom: calc(0.625em * 2 + 1px);
		font-size: 0.875em;
	}
	
	.t-basket-update .x-quantify .c-control-group__button,
	.t-basket-update .x-quantify .c-control-group__field {
		max-width: calc(100% / 3);
		flex-basis: calc(100% / 3);;
	}

	
a.t-basket__product-remove {
	width: 3em;
	height: 3em;
	padding: 0;
	line-height: 3.5;
	border-width: 0;
}

.t-basket_basket-coupon-form-toggle:checked ~ label > .u-icon-add::before {
	content: "\3c";
}

.t-basket_basket-coupon-form-toggle:checked ~ .t-basket_coupon-form {
	height: 3rem;
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
}

.t-basket_coupon-form {
	height: 0;
	margin-bottom: 0;
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);
	transform-origin: top;
	transition: all ease-in-out 0.2s;
}





/* Checkout Pages
	=========================================== */
.t-ocst-account-message {
	display: block;
	padding: 2em;
	font-size: 0.75rem;
}

	.t-checkout-log-in__form {
		display: block;
		max-height: 0;
		margin-bottom: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 0.15s, 0s, 0s;
	}

	.t-checkout-log-in__label {
		cursor: pointer;
	}

	.t-checkout-log-in__trigger:checked ~ .t-checkout-log-in__form {
		display: block;
		max-height: 9rem;
		padding-top: 1em;
		opacity: 1;
		overflow: hidden;
		transition: visibility 0s ease, max-height 0.3s ease, opacity 0.3s ease;
		transition-delay: 0s;
		visibility: visible;
	}





.t-checkout-basket-summary {
	height: calc(100% - 1rem);
	padding: 2rem 2rem 0;
	background-color: #f2f2f2;
}

	.t-checkout-basket-summary__product-summary tbody .c-table-simple__cell {
		padding-top: 1.5rem;
	}

	.t-checkout-basket-summary__image {
		margin-right: 2rem;
	}
	
	.t-checkout-basket-summary__promo-form,
	.t-checkout-basket-summary__promo-form:first-child,
	.t-checkout-basket-summary__promo-form:last-child {
		display: block;
		margin: -1px -2rem;
		padding-right: 2rem;
		padding-left: 2rem;
		background-color: #dedede;
	}

@media (max-width: 59.9em) {
	.t-page-ocst .t-site-header__logo,
	.t-page-osel .t-site-header__logo,
	.t-page-opay .t-site-header__logo {
		flex-basis: calc(100% / 12 * 12);
		max-width: calc(100% / 12 * 12);
	}
}
	
@media (min-width: 90em) {
	.t-page-ocst .t-main-content-element,
	.t-page-osel .t-main-content-element,
	.t-page-opay .t-main-content-element {
		max-width: none;
		padding-right: 0;
		padding-left: 0;
	}

	
		.t-checkout-basket-summary {
			height: 100%;
		}
		
			.t-checkout-basket-summary .c-table-simple {
				width: 60%;
			}
		
				.t-checkout-basket-summary__promo-form,
				.t-checkout-basket-summary__promo-form:first-child,
				.t-checkout-basket-summary__promo-form:last-child {
					margin: -1px 0;
				}
				
				
	.t-page-ocst .t-site-footer,
	.t-page-osel .t-site-footer,
	.t-page-opay .t-site-footer {
		padding-top: 0;
	}
	
		.t-page-ocst .t-site-footer__disclaimer,
		.t-page-osel .t-site-footer__disclaimer,
		.t-page-opay .t-site-footer__disclaimer {
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: left;
		}
		
			.t-page-ocst .t-site-footer__disclaimer .o-layout__item,
			.t-page-osel .t-site-footer__disclaimer .o-layout__item,
			.t-page-opay .t-site-footer__disclaimer .o-layout__item {
				flex: 0;
				white-space: nowrap;
			}
}

@media (min-width: 48em) {
	.t-payment-cta {
		flex-grow: 0;
	}
	
	.t-payment-form {
		justify-content: center;
	}
		.t-payment-form .o-layout__item {
			display: flex;
			max-width: 75%;
			align-items: center;
		}
		
			.t-payment-form .c-form-label {
				width: 25%;
				margin-right: 1rem;
			}
			
			.t-payment-form .c-form-input {
				max-width: 50%;
			}
			
				.t-payment-form .c-form-input--cvv {
					max-width: none;
				}

				.t-payment-form .t-data-cvv {
					margin-left: 0.5rem;
				}

			.t-payment-form .c-control-group {
				max-width: 50%;
				flex-grow: 1;
			}
}


.t-checkout-customer-summary {
	margin-bottom: 1rem;
	padding: 1rem 2rem 0;
}

	.t-checkout-customer-summary .c-keyline {
		border-color: #c0c0c0;
	}





/* Account Landing Page
	=========================================== */
.t-account-landing-section {
	margin-bottom: 1rem;
}

	.t-account-landing-section .x-category-tree__label {}

	.t-account-landing-section .c-heading-echo {
		font-size: 14px;
	}

		@media (min-width: 48em) {
			.t-account-landing-section .c-heading-echo {
				font-size: 15px;
			}
		}

	.t-account-landing-section__content {
		padding-top: 1.25rem;
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
	
	.t-account-landing-section__content.x-category-tree__row {
		padding-left: 1rem;
	}
	
	.t-account-landing-section__content.x-category-tree__row span.x-category-tree__link:hover {
		text-decoration: none;
	}





/* Wish List Page
	=========================================== */
.t-wish-list-search .c-control-group {
	border: 1px solid #eaeaea;
}

	.t-wish-list-search__button {
		padding-right: calc(1em - 1px);
		padding-left: calc(1em - 1px);
	}


.t-wish-list__item .c-control-group__button {
	flex: 1 1 50%;
	padding-right: 0;
	padding-left: 0;
}

/* Joyous Button Override */

.c-button {
	display: inline-block; /* [1] */
	margin: 0; /* [2] */
	padding: calc(0.5em - 1px) calc(1em - 1px); /* [3] */
	position: relative;
	vertical-align: middle; /* [4] */
	font-size: 1em; /* [6] */
	font-weight: 400; /* [7] */
	line-height: 1.8;
	text-align: center; /* [8] */
	text-decoration: none; /* [9] */
	border: 2px solid #172026; /* [10] */
	border-radius: 0.1875em; /* [11] */
	-webkit-appearance: none;
	min-height: 3.125rem;
	appearance: none;
	cursor: pointer; /* [13] */
	transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* [12] */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.c-button.u-bg-prim.u-color-white:hover {
	background-color: #FFF;
	color: #273540;
}
.c-button:not([class*="u-icon-"]) {
	font-family: inherit; /* [5] */
	color: #fff;
}
.c-button--hollow:not([class*="u-icon-"]) {
	font-family: inherit; 
	color: #255f63;
}

.c-button--hollow.u-color-prim {
	color: #273540;
}

.c-button--hollow {
	display: inline-block; /* [1] */
	margin: 0; /* [2] */
	padding: calc(0.5em - 1px) calc(1em - 1px); /* [3] */
	position: relative;
	vertical-align: middle; /* [4] */
	font-size: 1em; /* [6] */
	font-weight: 400; /* [7] */
	line-height: 2;
	text-align: center; /* [8] */
	text-decoration: none; /* [9] */
	border: 2px solid #255f63; /* [10] */
	border-radius: 0.1875em; /* [11] */
	-webkit-appearance: none;
	min-height: 3.125rem;
	appearance: none;
	cursor: pointer; /* [13] */
	transition: color 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), background-color 0.1s cubic-bezier(0.18, 0.89, 0.32, 1.28), border-color 0.1s cubic-bezier(0.18, 0.89, 0.32, 1.28), box-shadow 0.1s cubic-bezier(0.18, 0.89, 0.32, 1.28); /* [12] */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.c-button--hollow:hover:not([data-hook="open-main-menu"]) {
	background-color: #255f63;
	color: #FFFFFF;
}

/* Button Large */

@media screen and (min-width: 75em) {
	.c-button{
		min-height: 3.5rem;
	}
}

/* Font Weights */
.u-text-semibold {
	font-weight: 600;
}

/* Page Specific
	============================================ */

	/* For SFNT HERO */

.t-page-sfnt .t-site-navigation {
	margin-bottom: 0;	
}

/* Mobile */
.c-home-hero__wrapper {
	background-image: url('graphics/00000001/hero_bg_sm.png');
	background-repeat: no-repeat;
	background-position: 45% top;
	background-size: cover;
}

	.c-home-hero__inner {
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding-bottom: 17rem;
		position: relative;
		top: 6.25rem;
	}
	
		.c-home-hero__inner h1 {
			font-size: 1.5rem;
			letter-spacing: normal;
			line-height: 1.1;
			max-width: 18rem;
			margin: 0 auto 2.875rem;
		}

		.c-home-hero__inner p {
			font-size: 1.25rem;
			letter-spacing: normal;
			line-height: 1.3;
			text-align: center;
			max-width: 20rem;
			margin: 0 auto;
			padding: 0 20px;
		}

	/* 	Tablet 
		[40em = 640px]
	*/
	@media screen and ( min-width: 40em ) {
		.c-home-hero__wrapper {
			background-image: url('graphics/00000001/hero_bg_md.png');
		}
		
			.c-home-hero__inner {
				top: 6.75rem;
			}
			
				.c-home-hero__inner h1 {
					font-size: 1.6875rem;
					max-width: 23rem;
				}
		
				.c-home-hero__inner p {
					max-width: 27rem;
				}
	}

	/* 	Tablet Large
		[48em = 768px]
	*/
	@media screen and (min-width: 48em) {
		
	}

	/* 	Large
		[60em = 960px]
	*/
	@media screen and (min-width: 60em) {
		.c-home-hero__wrapper {
			background-image: url('graphics/00000001/hero_bg_lrg.png');
		}

		.c-home-hero__inner {
			top: 17.75rem;
			padding-bottom: 40rem;
		}
		
			.c-home-hero__inner h1 {
				font-size: 1.875rem;
				max-width: 26rem;
			}
	
			.c-home-hero__inner p {
				font-size: 1.25rem;
				max-width: 36%;
			}
	}

/* Essentia Home Banner Layout */

.c-essentia {
	margin-top: 6.6875rem;
}
	.c-essentia__inner {
		display: block;
	}
	.c-essentia__logo {
		margin: 0 auto 2.75rem;
	}

	.c-essentia__img img,
	.c-essentia__text-inner {
		margin:0 4px;
	}
	.c-essentia__text-inner p{
		text-align: left;
	}
	.c-essentia__text-inner {
		max-width: 90%;
		margin: 3.75rem auto 3.43rem;
	}
	.c-essentia__text-inner p{
		margin-bottom: 3.125rem;
		font-size: 1.3rem;
		line-height: initial;
	}

	@media screen and ( min-width: 40em ) {
		.c-essentia {
			margin-top: 8.6875rem;
		}
			.c-essentia__logo {
				margin: 0 auto 3.75rem;
			}
			.c-essentia__text-inner {
				margin: 3.75rem auto 3.43rem;
				max-width: 80%;
			}
			.c-essentia__text p{
				margin-bottom: 3.125rem;
				font-size: 1.4375rem;
			}
			.c-essentia__text a.c-button {
				max-width: 80%;
				display: block;
				margin: 0 auto;
			}
	}
	@media screen and (min-width: 60em) {
		.c-essentia__img {
			order: 2;
		}
		.c-essentia__text img{
			margin: 0 auto;
		}
		.c-essentia__text-inner {
			margin: 3.75rem auto 0;
			max-width: 40.125rem;
			min-width: 10rem;
			letter-spacing: normal;
		}
		.c-essentia__text-inner p{
			text-align: left;
			font-size: 1.875rem;
			margin-bottom: 1rem;
		}
		.c-essentia__text a.c-button {
			max-width: 45%;
			line-height: 2;
		}
	}

	/* Extra-Large Breakpoint [75em = 1200px]
   =========================================== */
	@media screen and (min-width: 75em) { 
		.c-essentia__text-inner p{
			margin-bottom: 3.75rem;
		}
	}


	/* Human Habitat Home Banner Layout */

.c-hh {
	margin-top: 6.6875rem;
}
	.c-hh__inner {
		display: block;
	}
	.c-hh__logo {
		margin: 0 auto 2.75rem;
	}
	.c-hh__img {
		order: 1;
	}
	.c-hh__text {
		order: 2;
	}
	.c-hh__img img,
	.c-hh__text-inner {
		margin:0 4px;
	}
	.c-hh__text-inner p{
		text-align: left;
	}
	.c-hh__text-inner {
		max-width: 90%;
		margin: 3.75rem auto 3.43rem;
	}
	.c-hh__text-inner p{
		margin-bottom: 3.125rem;
		font-size: 1.3rem;
		line-height: initial;
	}

	@media screen and ( min-width: 40em ) {
		.c-hh {
			margin-top: 8.6875rem;
		}
			.c-hh__img {
				order: 1;
			}
			.c-hh__text {
				order: 2;
			}
			.c-hh__logo {
				margin: 0 auto 3.75rem;
			}
			.c-hh__text-inner {
				margin: 3.75rem auto 3.43rem;
				max-width: 80%;
			}
			.c-hh__text p{
				margin-bottom: 3.125rem;
				font-size: 1.4375rem;
			}
			.c-hh__text a.c-button {
				max-width: 80%;
				display: block;
				margin: 0 auto;
			}
	}
	@media screen and (min-width: 60em) {
		.c-hh__img {
			order: 1;
		}
		.c-hh__text {
			order: 2;
		}
		.c-hh__text img{
			margin: 0 auto;
		}
		.c-hh__text-inner {
			margin: 3.75rem auto 0;	
			max-width: 40.125rem;
			min-width: 10rem;		
		}
		.c-hh__text-inner p{
			text-align: center;
			font-size: 1.875rem;
			margin-bottom: 3.75rem;
			letter-spacing: normal;
		}
		.c-hh__text a.c-button {
			max-width: 45%;
			line-height: 2;
		}
	}

	/* Extra-Large Breakpoint [75em = 1200px]
   =========================================== */
   @media screen and (min-width: 75em) {
		.c-hh__text-inner {
			margin: 8.75rem auto 0;			
		}
		.c-hh__text-inner p{
			margin-bottom: 8.75rem;
		}
	}

.c-control-group--rounded .c-control-group__button:first-child,
.c-control-group--rounded .c-control-group__field:first-child {
	border-top-left-radius: 0.1875em;
	border-bottom-left-radius: 0.1875em;
}
.c-control-group--rounded .c-control-group__button:last-child,
.c-control-group--rounded .c-control-group__field:last-child {
	border-top-right-radius: 0.1875em;
	border-bottom-right-radius: 0.1875em;
}
.c-control-group--rounded-right .c-control-group__field:last-child {
	border-top-right-radius: 0.1875em;
	border-bottom-right-radius: 0.1875em;
}
.c-control-group--rounded-left .c-control-group__button:first-child,
.c-control-group--rounded-left .c-control-group__field:first-child {
	border-top-left-radius: 0.1875em;
	border-bottom-left-radius: 0.1875em;
}

/* Product Listing overwrites */

/* Mobile */

.x-product-list__image {
	border-radius: 3px;
}

.x-product-list__price {
	color: #255F63;
	font-weight: 700;
}

/* Product Page */

/* body#js-PROD {
	overflow-x: hidden;
} */

/* .o-layout--wide > .o-layout__item.x-product-layout-images{
	padding-left: 0;
} */

/* .x-product-layout-images__image {
	overflow-x: auto;
	display: flex;
	flex-basis: 105%;
	max-width: 105%;
	margin-left: auto;
	margin-right: auto;
	width: 105%;
} */

.x-product-layout-purchase {
	color: #1E2121;
}

.x-product-layout-purchase__name:last-child {
	font-size: 1.25rem;
}

.x-product-layout-purchase__weight {
	font-size: 1rem;
}

.x-product-layout-purchase .is-required {
	font-weight: 700;
}

.x-quantify .c-control-group__button {
	border-color: #606464;
	border-width: 1px;
}

.x-product-layout-purchase__options-quantity button {
	display: none;
	
}

.x-product-layout-purchase__options-quantity .t-quantify .c-control-group__field {
	border: 1px solid #606464;
	border-radius: 3px;
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	max-width: unset;
	width: 100%;
	flex-basis: unset;
	height: 50px;
}

.x-product-layout-purchase__options-quantity  .x-quantify {
	display: inline-block;
	width: 16%;
}

.c-button-add-to-bask {
	display: inline-block;
	width: 64%;
}

body#js-PROD input[data-hook="add-to-cart"] {
	width: 100%;
	font-size: 0.875rem;
}

.c-button-wish-wrapper {
	display: inline-block;
	width: 16%;
}

.x-product-layout-description__top {
	margin-top: 1.68rem;
}

.x-product-layout-description__wrapper {
	font-size: 0.875rem;
	letter-spacing: 0.005rem;
	line-height: 1.8;
	font-weight: 300;
	color: #1E2121;
}

.x-product-layout-purchase__pricing-original,
.x-product-layout-purchase__pricing-current {
	font-size: 1.25rem;
	color: #2E3535;
}

/* Product Information Iconography */

.x-product-info__icons .x-product-info__icon {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 1.875rem;
	color: #1E2121;
}

.x-product-info__icons .x-product-info__icon:last-child {
	margin-bottom: 0;
}

.x-product-info__icons .x-product-info__icon span:first-child {
	font-size: 3.5rem;
}

.x-product-info__icons .x-product-info__icon span {
	display: block;
	margin-top: 1rem;
}

.x-product-info__details,
.x-product-info__ingredients-indications {
	padding-top: 1.875rem;
	padding-bottom: 1.875rem;
	margin-bottom: 1.875rem;
}

.x-product-info__details h3,
.x-product-info__ingredients-indications h3,
.x-product-info__benefits h3,
.x-product-info__essential h3,
.x-product-info__candle-basics-heading h3 {
	font-size: 1.125rem;
}

/* Benefits & Essential Oils */

.x-product-info__header-spacer {
	margin-bottom: 2.1875rem;
}

.x-product-info__benefits-essential-oils,
.x-product-info__candle-basics {
	font-weight: 300;
}

.x-product-info__benefits-essential-oils-wrapper {
	flex-wrap: wrap;
}

.x-product-info__benefits,
.x-product-info__essential {
	margin-left: 0;
	margin-right: 0;
	flex: 0 0 100%;
	margin-bottom: 1.875rem;
}

.x-product-info__benefits-essential-oils-heading .u-icon-benefits,
.x-product-info__candle-basics-heading .u-icon-candle_basics,
.x-product-info__benefits-essential-oils-heading .u-icon-essential-oils, 
.x-product-info__benefits-essential-oils-heading .u-icon-essential-oils-v2 {
	font-size: 40px;
}

.u-icon-benefits:before {
	content: "\e903";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-candle:before {
	content: "\e904";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-dyes:before {
	content: "\e905";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-essential:before {
	content: "\e906";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-essential-oils:before {
	content: "\e909";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-essential-oils-v2:before {
	content: "\e90b";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-fragrance:before {
	content: "\e907";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-parabens:before {
	content: "\e908";
	font-family: "Joyous Icons", sans-serif;
}

.u-icon-candle_basics:before {
	content: "\e90a";
	font-family: "Joyous Icons", sans-serif;
}

/* Mini-basket */

.x-mini-basket__cta {
	font-size: unset;
}

/* Mobile Menu */

.x-transfigure-navigation__header.c-control-group a.c-button.c-control-group__button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

@media screen and (max-width: 59.9em) {
	.x-transfigure-navigation__row .c-navigation__list:first-of-type > .c-navigation__link {
		border-top-width: 0;
	}

	button[data-hook="open-main-menu"] {
		font-size: 1.3rem;
	}
	
}

/* X-Small */

@media screen and (min-width: 40em) {
	
	.x-product-info__icons-wrap {
		display: flex;
		justify-content: space-evenly;
	}

	.x-product-info__icons .x-product-info__icon {
		flex-basis: 33%;
	}
}

/* Small */

@media screen and (min-width: 48em) {

	/* body#js-PROD {
		overflow-x: auto;
	}

	.o-layout--wide > .o-layout__item.x-product-layout-images{
		padding-left: calc(16px * 2);
	}

	.x-product-layout-images__image {
		min-width: 100%;
		overflow-x: auto;
		display: unset;
		flex-basis: 100%;
		max-width: 100%;
		margin-left: unset;
		margin-right: unset;
	} */
	
}

/* Medium */

@media screen and (min-width: 60em) {

	.x-product-layout-images__image {
		border-radius: 3px;
	}

	.x-product-layout-purchase__name {
		margin-bottom: 2rem;
	}

	.x-product-layout-purchase__name:last-child {
		font-size: 1.5625rem;
	}
	
	.c-button-wish-wrapper {
		display: inline-block;
		width: 16%;
	}
	.x-product-layout-purchase__options-quantity {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.x-product-layout-purchase__options-quantity label[for="l-quantity"] {
		display: flex;
		flex-basis: 100%;
	}
	
	body#js-PROD input[data-hook="add-to-cart"] {
		font-size: unset;
	}

	.x-product-layout-purchase__options-quantity .x-quantify {
		display: flex;
		width: 4rem;
	}

	.c-button-add-to-bask {
		width: 69%;
	}

	.x-product-info__icons .x-product-info__icon span:last-child {
		font-size: 1.3125rem;
	}

	.x-product-layout-description__wrapper {
		font-size: 1.3125rem;
	}

	.x-product-info__benefits-essential-oils-wrapper {
		flex-wrap: nowrap;
	}
	
	.x-product-info__benefits,
	.x-product-info__essential {
		flex: 0 0 50%;
	}

	.x-product-info__benefits {
		padding-right: 3.125rem;
	}

	.x-product-info__essential {
		padding-left: 3.125rem;
	}

	.x-product-info__benefits-essential-oils-heading .u-icon-benefits,
	.x-product-info__benefits-essential-oils-heading .u-icon-essential-oils,
	.x-product-info__benefits-essential-oils-heading .u-icon-essential-oils-v2,
	.x-product-info__candle-basics-heading .u-icon-candle_basics {
		font-size: 90px;
	}

	.x-product-info__benefits-essential-oils-heading h3 {
		margin-top: 3.125rem;
	}
	
	.x-product-info__details,
	.x-product-info__ingredients-indications {
		max-width: 68.75rem;
		margin: 0 auto;
	}

	.x-product-info__details h3,
	.x-product-info__ingredients-indications h3,
	.x-product-info__benefits h3,
	.x-product-info__essential h3,
	.x-product-info__candle-basics-heading h3 {
		font-size: 1.3125rem;
	}

	.x-product-info__details,
	.x-product-info__ingredients-indications {
		margin-bottom: 3.125rem;
	}

	.x-product-info__icons .x-product-info__icon span:first-child {
		font-size: 4.5rem;
	}
}

/* large */

@media screen and (min-width: 75em) {
	
	.x-product-layout-purchase__options-quantity .x-quantify {
		width: 11.875rem;
	}

	.x-product-layout-purchase__options-quantity button{
		display: inline-block;
	}
	.x-product-layout-purchase__options-quantity .t-quantify .c-control-group__field {
		border-right-width: 0;
		border-left-width: 0;
		border-radius: 0;
		padding: 0 calc(1em / 2);
		max-width: calc(100% / 3);
		width: 100%;
		height: unset;
	}
	.c-button-add-to-bask {
		width: 57%;
	}
	.c-button-wish-wrapper {
		width: 3.125rem;
	}
}
 /* Xl */

@media screen and (min-width: 90em) {
	.c-button-add-to-bask {
		width: 63%;
	}
}

.x-product-layout-purchase__options-quantity button.c-button-wish {
	width: 100%;
	display: inline-block;
	padding: 0;
	position: unset;
}

.c-button-wish:before {
	color: #FFF;
    content: "\e902";
	display: block;
	font-family: "Joyous Icons", sans-serif;
    font-size: 28px;
    font-variant: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    text-transform: none;
	speak: none;
}

/* Forms */

.c-form-input,
.c-form-select__dropdown {
	border-color: #606464;
}